<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>File Uploader</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <img src="/share.svg" alt="" class="img-fluid mt-5">
            </div>
            <div class="col-lg-4">
                <% if (locals.error) { %>
                    <p class="text-danger classmt-5">Incorrect Password</p>
                <%}%>
                <form method="post" class="mt-2">
                    <label for="passwd" class="label-form">Password</label>
                    <input type="password" name="password" id="passwd" required class="form-control">
                    <p>Downloads: <%= locals.count %></p>
                    <button class="btn btn-success mt-1">Download</button>
                </form>
            </div> 
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>